*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #4a2e79;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  color: #e6872f;
  text-align: center;
  letter-spacing: 5px;
  font-size: 50px;
}

.lego {
  width: 100px;
  height: 100px;
  position: absolute;
  transform: rotate(45deg);
}

.dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  transform: rotate(-45deg);
}

.dot:after {
  content: "";
  position: absolute;
  left: 0;
  top: -7px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.dot:nth-child(1) {
  top: 15px;
  left: 15px;
}

.dot:nth-child(2) {
  bottom: 15px;
  left: 15px;
}

.dot:nth-child(3) {
  bottom: 15px;
  right: 15px;
}

.dot:nth-child(4) {
  top: 15px;
  right: 15px;
}

.lego:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 15px;
  height: 30px;
  width: 100%;
  transform: skewx(45deg);
}

.lego:after {
  content: "";
  width: 30px;
  height: 100%;
  position: absolute;
  left: 100%;
  top: 15px;
  transform: skewy(45deg);
}

#lego-one {
  background-color: #63d2f3;
  top: 380px;
  left: 200px;
  z-index: 100;
}

#lego-one:before {
  background: #4facce;
}

#lego-one:after {
  background: #2585a9;
}

#lego-one .dot {
  background: #2585a9;
}

#lego-one .dot:after {
  background: #63d2f3;
}

#lego-two {
  top: 310px;
  left: 270px;
  z-index: 90;
  background: #9ed027;
}

#lego-two:before {
  background: #96c42f;
}

#lego-two:after {
  background: #719318;
}

#lego-two .dot {
  background: #719318;
}

#lego-two .dot:after {
  background: #9ed027;
}

#lego-three {
  top: 240px;
  left: 340px;
  z-index: 80;
  background: #f9eb2f;
}

#lego-three:before {
  background: #f9e22e;
}

#lego-three:after {
  background: #e7b825;
}

#lego-three .dot {
  background: #e7b825;
}

#lego-three .dot:after {
  background: #f9eb2f;
}

#lego-four {
  top: 240px;
  left: 200px;
  z-index: 70;
  background: #ff9d52;
}

#lego-four:before {
  background: #fd6914;
}

#lego-four:after {
  background: #f45205;
}

#lego-four .dot {
  background: #f45205;
}

#lego-four .dot:after {
  background: #ff9d52;
}

#lego-five {
  top: 170px;
  left: 270px;
  z-index: 60;
  background: #eb413b;
}

#lego-five:before {
  background: #e6242a;
}

#lego-five:after {
  background: #d3001d;
}

#lego-five .dot {
  background: #d3001d;
}

#lego-five .dot:after {
  background: #eb413b;
}
